@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header { 
    background-color: black;
    padding: 50px 50px;
          

    }

    header > h1 {
        color: white;
        text-align: center;
        font-family:'Times New Roman', Times, serif;
        font-size: 3em;
        

    }

    header > p {
        text-align: center;
       
        font-family: 'Times New Roman', Times, serif;
        
              
     }

     a {
        text-decoration: none;
        color: white;
     }

   